BOT_TOKEN=your_frenchjumper_discord_bot_token
SYNC_TOKEN=generate_a_random_32_byte_token
ENTROPIA_CENTRAL_SIGNING_SECRET=optional_entropia_signing_secret
ALLOWED_GUILD_IDS=442710603300208652
ENTROPIA_DISCORD_CHANNEL_ID=temporary_private_channel_id
